.overlay{
  height: 0;
  width: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0, 0.5);
  overflow-x: hidden;
}
.overlay1{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0, 0.5);
  overflow-x: hidden;
}
/*for search bar*/
#search_animate {
  display: none;
}

/*for removing box shadow from input and button*/
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus, .btn:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bababa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #929292;
}

/*top of the page button*/
.scrollUp {
  pointer-events: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  background-color: black;
  color: white;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.scrollUp.active {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  z-index: 1;
  cursor: pointer;
  background-color: black;
  color: white;
  pointer-events: auto;
  opacity: 1;
}

/* width */
.abc::-webkit-scrollbar {
  width: 6px;
}
/* Track */
.abc::-webkit-scrollbar-track {
  background: #f8f6f6; 
}
/* Handle */
.abc::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 196); 
}
/* Handle on hover */
.abc::-webkit-scrollbar-thumb:hover {
  background: rgb(146, 146, 146); 
}

/* width */
.xyz::-webkit-scrollbar {
  width: 6px;
}
/* Track */
.xyz::-webkit-scrollbar-track {
  background: #f8f6f6; 
}
/* Handle */
.xyz::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 196); 
}
/* Handle on hover */
.xyz::-webkit-scrollbar-thumb:hover {
  background: rgb(146, 146, 146); 
}
/* navbar css starts here */
/* for screens of ipad pro,laptops and greater than it*/
@media (min-width: 992px) {
  .navbar {
    z-index: 1;
    height: 80px;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
  }
  #bg_odd{
    background-color:  #F8F8F8;
  }
  #bg_even{
    background-color:  #fff;
  }
  .navbar .navbar-brand {
    color: #df365a;
    font-family: 'Fira Sans', sans-serif;
  }
  /* profile in navbar */
  .person_icon{
    height:77px;
  }
  .person_icon:hover{
    border-bottom: 2px solid#df365a ;
    height: 77px;
  }
  .dropdown_for_account{
    padding: 15px;
    position: fixed;
    display: none;
    right: 20px;
    background: white;
    top: 80px;
    z-index: 10000;
  }
  .dropdown_for_account .link_btn{
    font-size: 14px;
    color:#df365a ;
    font-weight: 800;
    border: 1px solid #dee2e6;
    letter-spacing: 1px;
    position: relative;
    left: 0px;
    padding: 6px 12px 6px 12px;
  }
  .dropdown_for_account .link_btn:hover{
    font-size: 14px;
    border : 1px solid #df365a; 
  }
  .dropdown_for_account .link_btn .link{
    font-size: 14px;
    font-weight: 800;
    color:#df365a ;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .dropdown_for_account .p1{
    font-size: 14px;
    text-align: left;
    font-weight: 800;
    padding: 5px 0 0 0;
    margin-bottom: 0px;
  }
  .dropdown_for_account .p2{
    font-size: 14px;
    text-align: left;
    padding: 0px 15px 0 0;
  }
  .dropdown_for_account .dropdown-item {
    font-size: 14px;
    padding-left: 0px;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
  }
  .dropdown_for_account .dropdown-item:hover {
    font-size: 14px;
    font-weight: 800;
    padding-left: 0px;
    background-color: unset;
    padding-top: 0px;
    margin-top: 0px;
  }
  
  /* search bar in navbar */
  .navbar #search_bar {
    border: none;
    background-color:  #efefef;
  }
  .navbar #search_bar_button {
    border: none;
    background-color:  #efefef;
  }
  .navbar .nav-link {
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .3px;
    color: #111113;
    border-bottom: none;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.9;
  }
  .navbar .list_container_1 {
    height: 80px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .3px;
    color: #111113;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
  }
  .navbar .list_container_1:hover {
    border-bottom: 3px solid #df365a;
  }
  .navbar .list_container_2 {
    height: 80px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .3px;
    color: #111113;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
  }
  .navbar .list_container_2:hover {
    border-bottom: 3px solid #f14cc8;
  }
  .navbar .list_container_3 {
    height: 80px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .3px;
    color: #111113;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
  }
  .navbar .list_container_3:hover {
    border-bottom: 3px solid #f88f06;
  }
  .navbar .list_container_4 {
    height: 80px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .3px;
    color: #111113;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
  }
  .navbar .list_container_4:hover {
    border-bottom: 3px solid #dfbe08;
  }
  .navbar .list_container_5 {
    height: 80px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .3px;
    color: #111113;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
  }
  .navbar .list_container_5:hover {
    border-bottom: 3px solid #15c481;
  }
  .navbar #nav_list {
    height: 80px;
  }
  input::-webkit-input-placeholder {
    font-size: 14px;
  }
  input:-ms-input-placeholder {
    font-size: 14px;
  }
  input::-ms-input-placeholder {
    font-size: 14px;
  }
  input::placeholder {
    font-size: 14px;
  }
  #icon_text {
    font-size: 12px;
    font-weight: 550;
    color: #111113;
    font-weight: 600;
  }
  #img {
    height: 600px;
  }
  #mega-drop_1 {
    width: 950px;
    height: 400px;
    z-index: 1000;
    background-color: white;
    border-radius: 0px;
    border: none;
    margin-left: -35px;
    margin-top: 0px;
    opacity: 1;
  }
  #mega-drop_2 {
    width: 950px;
    height: 400px;
    z-index: 1000;
    background-color: white;
    border-radius: 0px;
    border: none;
    margin-left: -122px;
    margin-top: 0px;
    opacity: 1;
  }
  #mega-drop_3 {
    width: 950px;
    height: 400px;
    z-index: 1000;
    background-color: white;
    border-radius: 0px;
    border: none;
    margin-left: -180px;
    margin-top: 0px;
    opacity: 1;
  }
  #mega-drop_4 {
    width: 950px;
    height: 400px;
    z-index: 1000;
    background-color: white;
    border-radius: 0px;
    border: none;
    margin-left: -259px;
    margin-top: 0px;
    opacity: 1;
  }
  #mega-drop_5 {
    width: 950px;
    height: 400px;
    z-index: 1000;
    background-color: white;
    border-radius: 0px;
    border: none;
    margin-left: -347px;
    margin-top: 0px;
    opacity: 1;
  }
  .list_container_1 .dropdown-menu .row {
    width: 950px;
    position: relative;
    left: 15px;
    top: -8px;
    height: 400px;
  }
  .list_container_2 .dropdown-menu .row {
    width: 950px;
    position: relative;
    left: 15px;
    top: -8px;
    height: 400px;
  }
  .list_container_3 .dropdown-menu .row {
    width: 950px;
    position: relative;
    left: 15px;
    top: -8px;
    height: 400px;
  }
  .list_container_4 .dropdown-menu .row {
    width: 950px;
    position: relative;
    left: 15px;
    top: -8px;
    height: 400px;
  }
  .list_container_5 .dropdown-menu .row {
    width: 950px;
    position: relative;
    left: 15px;
    top: -8px;
    height: 400px;
  }
  #sub_heading_1 {
    color: #df365a;
    font-weight: 800;
  }
  .list_container_1 .dropdown-menu .row .dropdown-item {
    position: relative;
    left: -25px;
    font-size: 12px;
  }
  .list_container_1 .dropdown-menu .row .dropdown-item:hover {
    position: relative;
    left: -25px;
    font-size: 12px;
    font-weight: 800;
    background-color: unset;
  }
  #sub_heading_2 {
    color: #f14cc8;
    font-weight: 800;
  }
  .list_container_2 .dropdown-menu .row .dropdown-item {
    position: relative;
    left: -25px;
    font-size: 12px;
  }
  .list_container_2 .dropdown-menu .row .dropdown-item:hover {
    position: relative;
    left: -25px;
    font-size: 12px;
    font-weight: 800;
    background-color: unset;
  }
  #sub_heading_3 {
    color: #f88f06;
    font-weight: 800;
  }
  .list_container_3 .dropdown-menu .row .dropdown-item {
    position: relative;
    left: -25px;
    font-size: 12px;
  }
  .list_container_3 .dropdown-menu .row .dropdown-item:hover {
    position: relative;
    left: -25px;
    font-size: 12px;
    font-weight: 800;
    background-color: unset;
  }
  #sub_heading_4 {
    color: #dfbe08;
    font-weight: 800;
  }
  .list_container_4 .dropdown-menu .row .dropdown-item {
    position: relative;
    left: -25px;
    font-size: 12px;
  }
  .list_container_4 .dropdown-menu .row .dropdown-item:hover {
    position: relative;
    left: -25px;
    font-size: 12px;
    font-weight: 800;
    background-color: unset;
  }
  #sub_heading_5 {
    color: #15c481;
    font-weight: 800;
  }
  .list_container_5 .dropdown-menu .row .dropdown-item {
    position: relative;
    left: -25px;
    font-size: 12px;
  }
  .list_container_5 .dropdown-menu .row .dropdown-item:hover {
    position: relative;
    left: -25px;
    font-size: 12px;
    font-weight: 800;
    background-color: unset;
  }
  .list_container_1 .dropdown-menu .row a {
    color: black;
  }
  .list_container_2 .dropdown-menu .row a {
    color: black;
  }
  .list_container_3 .dropdown-menu .row a {
    color: black;
  }
  .list_container_4 .dropdown-menu .row a {
    color: black;
  }
  .list_container_5 .dropdown-menu .row a {
    color: black;
  }
}

/* for screens greater than 1192px*/
@media (min-width: 1192px) {
  .navbar {
    z-index: 1;
    height: 80px;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
  }
  /* profile in navbar */
  .person_icon{
    height:80px;
  }
  .person_icon:hover{
    border-bottom: 2px solid#df365a ;
    height: 80px;
  }
  .dropdown_for_account{
    padding: 15px;
    position: fixed;
    display: none;
    right: 20px;
    background: white;
    top: 80px;
    z-index: 10000;
  }
  .dropdown_for_account .link_btn{
    font-size: 16px;
    color:#df365a ;
    font-weight: 800;
    border: 1px solid #dee2e6;
    letter-spacing: 1px;
    position: relative;
    left: 0px;
    padding: 6px 12px 6px 12px;
  }
  .dropdown_for_account .link_btn:hover{
    font-size: 16px;
    border : 1px solid #df365a; 
  }
  .dropdown_for_account .link_btn .link{
    font-size: 16px;
    font-weight: 800;
    color:#df365a ;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .dropdown_for_account .p1{
    font-size: 16px;
    text-align: left;
    font-weight: 800;
    padding: 5px 0 0 0;
    margin-bottom: 0px;
  }
  .dropdown_for_account .p2{
    font-size: 16px;
    text-align: left;
    padding: 0px 15px 0 0;
  }
  .dropdown_for_account .dropdown-item {
    font-size: 16px;
    padding-left: 0px;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
  }
  .dropdown_for_account .dropdown-item:hover {
    font-size: 16px;
    font-weight: 800;
    padding-left: 0px;
    background-color: unset;
    padding-top: 0px;
    margin-top: 0px;
    }
  
  /* search bar in navbar */
  #bg_odd{
    background-color:  #F8F8F8;
  }
  #bg_even{
    background-color:  #fff;
  }
  .navbar .navbar-brand {
    color: #df365a;
    font-family: 'Fira Sans', sans-serif;
  }
  .navbar #nav-btn {
    font-size: 20px;
  }
  .navbar #search_bar {
    border: none;
    font-size: 18px;
  }
  .navbar #search_bar_button {
    border: none;
    color: black;
    font-size: 22px;
  }
  .navbar .nav-link {
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .3px;
    color: #111113;
    border-bottom: none;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.9;
  }
  .navbar .list_container_1 {
    height: 80px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .3px;
    color: #111113;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
  }
  .navbar .list_container_1:hover {
    border-bottom: 3px solid #df365a;
  }
  .navbar .list_container_2 {
    height: 80px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .3px;
    color: #111113;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
  }
  .navbar .list_container_2:hover {
    border-bottom: 3px solid #f14cc8;
  }
  .navbar .list_container_3 {
    height: 80px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .3px;
    color: #111113;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
  }
  .navbar .list_container_3:hover {
    border-bottom: 3px solid #f88f06;
  }
  .navbar .list_container_4 {
    height: 80px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .3px;
    color: #111113;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
  }
  .navbar .list_container_4:hover {
    border-bottom: 3px solid #dfbe08;
  }
  .navbar .list_container_5 {
    height: 80px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .3px;
    color: #111113;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
  }
  .navbar .list_container_5:hover {
    border-bottom: 3px solid #15c481;
  }
  .navbar #nav_list {
    height: 80px;
  }
  input::-webkit-input-placeholder {
    font-size: 18px;
  }
  input:-ms-input-placeholder {
    font-size: 18px;
  }
  input::-ms-input-placeholder {
    font-size: 18px;
  }
  input::placeholder {
    font-size: 18px;
  }
  #icon_text1 {
    font-size: 13px;
    font-weight: 550;
    color: #111113;
    font-weight: 500;
  }
  #img {
    height: 600px;
  }
  #mega-drop_1 {
    width: 1150px;
    height: 500px;
    z-index: 1;
    background-color: white;
    border-radius: 0px;
    border: none;
    margin-left: -35px;
    margin-top: 0px;
    opacity: 1;
  }
  #mega-drop_2 {
    width: 1150px;
    height: 500px;
    z-index: 1;
    background-color: white;
    border-radius: 0px;
    border: none;
    margin-left: -137px;
    margin-top: 0px;
    opacity: 1;
  }
  #mega-drop_3 {
    width: 1150px;
    height: 500px;
    z-index: 1;
    background-color: white;
    border-radius: 0px;
    border: none;
    margin-left: -205px;
    margin-top: 0px;
    opacity: 1;
  }
  #mega-drop_4 {
    width: 1150px;
    height: 500px;
    z-index: 1;
    background-color: white;
    border-radius: 0px;
    border: none;
    margin-left: -299px;
    margin-top: 0px;
    opacity: 1;
  }
  #mega-drop_5 {
    width: 1150px;
    height: 500px;
    z-index: 1;
    background-color: white;
    border-radius: 0px;
    border: none;
    margin-left: -402px;
    margin-top: 0px;
    opacity: 1;
  }
  .list_container_1 .dropdown-menu .row {
    width: 1150px;
    position: relative;
    left: 15px;
    top: -8px;
    height: 500px;
  }
  .list_container_2 .dropdown-menu .row {
    width: 1150px;
    position: relative;
    left: 15px;
    top: -8px;
    height: 500px;
  }
  .list_container_3 .dropdown-menu .row {
    width: 1150px;
    position: relative;
    left: 15px;
    top: -8px;
    height: 500px;
  }
  .list_container_4 .dropdown-menu .row {
    width: 1150px;
    position: relative;
    left: 15px;
    top: -8px;
    height: 500px;
  }
  .list_container_5 .dropdown-menu .row {
    width: 1150px;
    position: relative;
    left: 15px;
    top: -8px;
    height: 500px;
  }
  #sub_heading_1 {
    color: #df365a;
    font-weight: 800;
  }
  .list_container_1 .dropdown-menu .row .dropdown-item {
    position: relative;
    left: -25px;
    font-size: 16px;
  }
  .list_container_1 .dropdown-menu .row .dropdown-item:hover {
    position: relative;
    left: -25px;
    font-size: 16px;
    font-weight: 800;
    background-color: unset;
  }
  #sub_heading_2 {
    color: #f14cc8;
    font-weight: 800;
  }
  .list_container_2 .dropdown-menu .row .dropdown-item {
    position: relative;
    left: -25px;
    font-size: 16px;
  }
  .list_container_2 .dropdown-menu .row .dropdown-item:hover {
    position: relative;
    left: -25px;
    font-size: 16px;
    font-weight: 800;
    background-color: unset;
  }
  #sub_heading_3 {
    color: #f88f06;
    font-weight: 800;
  }
  .list_container_3 .dropdown-menu .row .dropdown-item {
    position: relative;
    left: -25px;
    font-size: 16px;
  }
  .list_container_3 .dropdown-menu .row .dropdown-item:hover {
    position: relative;
    left: -25px;
    font-size: 16px;
    font-weight: 800;
    background-color: unset;
  }
  #sub_heading_4 {
    color: #dfbe08;
    font-weight: 800;
  }
  .list_container_4 .dropdown-menu .row .dropdown-item {
    position: relative;
    left: -25px;
    font-size: 16px;
  }
  .list_container_4 .dropdown-menu .row .dropdown-item:hover {
    position: relative;
    left: -25px;
    font-size: 16px;
    font-weight: 800;
    background-color: unset;
  }
  #sub_heading_5 {
    color: #15c481;
    font-weight: 800;
  }
  .list_container_5 .dropdown-menu .row .dropdown-item {
    position: relative;
    left: -25px;
    font-size: 16px;
  }
  .list_container_5 .dropdown-menu .row .dropdown-item:hover {
    position: relative;
    left: -25px;
    font-size: 16px;
    font-weight: 800;
    background-color: unset;
  }
  .list_container_1 .dropdown-menu .row a {
    color: black;
  }
  .list_container_2 .dropdown-menu .row a {
    color: black;
  }
  .list_container_3 .dropdown-menu .row a {
    color: black;
  }
  .list_container_4 .dropdown-menu .row a {
    color: black;
  }
  .list_container_5 .dropdown-menu .row a {
    color: black;
  }
}

@media (max-width: 992px) {
  .navbar {
    z-index: 1;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
  }
  .navbar .navbar-brand {
    color: #df365a;
    font-family: 'Fira Sans', sans-serif;
  }
  /*css for icons eg: search,wishlist,cart,profile */
  #menu_btn {
    font-size: 24px;
  }
  #icon_magnify {
    text-decoration: none;
    color: black;
  }
  .iconss a {
    text-decoration: none;
    color: black;
  }
  /*css for menu*/
  .menu_general {
    position: fixed;
    max-width: 400px;
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
    top: 0;
    left: 0;
    display: none;
    text-align: left;
    overflow-y: scroll;
  }
  .menu_general ul {
    padding: 0px 20px 0px 20px;
  }
  .menu_general a {
    text-decoration: none;
    color: black;
  }
  .menu_general a li {
    list-style: none;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  .menu_general .first_component_ul {
    list-style: none;
    font-size: 22px;
    letter-spacing: 1px;
  }
  /*arrow icon and hr for menu*/
  .menu_general a span {
    position: absolute;
    right: 0px;
    font-size: 40px;
  }
  .hr_for_theme1 {
    background-color: #df365a;
    height: 2px;
  }
  .hr_for_theme2 {
    background-color: #f14cc8;
    height: 2px;
  }
  .hr_for_theme3 {
    background-color: #f88f06;
    height: 2px;
  }
  .hr_for_theme4 {
    background-color: #dfbe08;
    height: 2px;
  }
  .hr_for_theme5 {
    background-color: #15c481;
    height: 2px;
  }
  .menu_general .sub_menu_heading .material-icons {
    position: absolute;
    left: 0px;
    font-size: 40px;
    text-align: left;
  }
  .sub_menu_heading {
    padding-top: 20px;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
  }
  #cancel_btn {
    position: absolute;
    top: 19px;
    font-size: 32px;
    right: 10px;
    font-weight: 600;
    cursor: pointer;
  }
  /*login greeting section for menu*/
  .greeting {
    background-color: #cf697f;
    height: 70px;
  }
  .menu_general .greeting .greeting_text {
    position: absolute;
    font-size: 24px;
    top: 0px;
    padding-left: 10px;
  }
  .greeting i {
    font-size: 24px;
  }
}


/* navbar css ends here */
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color: white;
}

ul.nav-pills {
  top: 120px;
}

a {
  color: rgb(131, 131, 131);
  font-size: 18px;
}

.aaa {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #444546;
  cursor: pointer;
  font-weight: 400;
  padding-top: 7px 0;
}

.xyz {
  overflow: scroll;
  overflow-x: hidden;
  height: 66vh;
  background-color: white;
  margin-top: 35px;
  border-radius: 3px;
  border-style: none;
  border-width: 1px;
  padding-left: 20px; 
}

.abc {
  display: inline-block;
  overflow-y: scroll;
  background-color: white;
  margin-top: 35px;
  height: 66vh;
  border-right: solid 1px rgb(226, 221, 221);  
}

.spacebtweenp {
  margin-top: -8px;
}


.faq_row .nav-item .nav-link:hover{
  color: rgb(223, 190, 8);
}

.nav-pills > li > a.active {
  background-color: white!important;
  color:  rgb(223, 190, 8)!important;
}

.nav-pills > li > a.active > .fa-star{
  color:  rgb(223, 190, 8);
}

.fa-star{
  color: rgb(235, 232, 232);
}
.nav-link{
  font-size: 16px;
}



@media(max-width: 992px) {
  #hhhh {
    display: none;
  }
  .heading{
    font-size: 1.6em;
  }
}

@media(max-width: 768px){
  .xyz {
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;
    background-color: white;
    margin-top: 0px;
    border-radius: 3px;
    border-style: none;
    border-width: 1px;
    padding-left: 20px; 
    width: 100%;
  }

}
/*footer*/
#footer_big{
  background-color:  #efefef;
}
#head_of_footer_column {
  font-size: 13px;
  color: black;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500px;
}

.list-unstyled li {
  font-size: 13px;
  color: #a19f9f;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
}

.list-unstyled li a {
  font-size: 13px;
  color: #a19f9f;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
}

#footer_end a {
  font-size: 13px;
  color: #a19f9f;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
}


/* for footer*/
.list-unstyled .navbar-brand {
  color: #df365a;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  list-style: none;
}

/*footer icon of social  media */
.icon1 {
  display: inline-block;
  position: relative;
  height: 38px;
  width: 38px;
  border-radius: 7px;
  padding-top: 3px;
  text-align: center;
  margin-right: 5px;
  font-size: 22px;
  list-style: none;
  background-color: #00aced;
  color: #fff;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.icon1:hover {
  color: white;
}

.icon2 {
  display: inline-block;
  position: relative;
  height: 38px;
  width: 38px;
  border-radius: 7px;
  margin-right: 5px;
  padding-top: 3px;
  background-color: #3b5998;
  text-align: center;
  font-size: 22px;
  color: #fff;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.icon2:hover {
  color: white;
}

.icon3 {
  display: inline-block;
  position: relative;
  height: 38px;
  width: 38px;
  margin-right: 5px;
  border-radius: 7px;
  padding-top: 3px;
  background-color: #b00;
  text-align: center;
  font-size: 22px;
  color: #fff;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.icon3:hover {
  color: white;
}

.icon4 {
  display: inline-block;
  position: relative;
  height: 38px;
  width: 38px;
  border-radius: 7px;
  margin-right: 5px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  font-size: 26px;
  text-align: center;
  color: #fff;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.icon4:hover {
  color: white;
}

.icon5 {
  display: inline-block;
  position: relative;
  height: 38px;
  width: 38px;
  border-radius: 7px;
  padding-top: 3px;
  background-color: #b00;
  text-align: center;
  font-size: 22px;
  color: #fff;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.icon5:hover {
  color: white;
}

/*footer icon of payment methods */
.icon_1 {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 10px;
  color: #210463;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.icon_1:hover {
  color: #210463;
}

.icon_2 {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 10px;
  color: black;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.icon_2:hover {
  color: black;
}

.icon_3 {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 10px;
  color: #007bff;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.icon_3:hover {
  color: #007bff;
}

.icon_4 {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 10px;
  color: #2c2b2c;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.icon_4:hover {
  color: #2c2b2c;
}

.icon_5 {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 10px;
  color: #3b7bbf;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.icon_5:hover {
  color: #3b7bbf;
}

.icon_6 {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 5px;
  color: #F79C34;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.icon_6:hover {
  color: #F79C34;
}

/*footer icon of appstore and playstore */
.icon_appstore {
  position: relative;
  top: -45px;
  width: 140px;
  height: 140px;
}

.icon_playstore {
  position: relative;
  top: -45px;
  width: 140px;
  height: 50px;
}

/* footer for devices less than 768*/
#footer_small{
  background-color: rgb(29, 27, 27);
}
#footer_small a {
  text-decoration: none;
  color: black;
}

#add_sign_1, #add_sign_2, #add_sign_3, #add_sign_4, #add_sign_5, #add_sign_6 {
  float: right;
  cursor: pointer;
}