body{
    font-family: 'Roboto', sans-serif;
}
.overlay{
    height: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0, 0.5);
    overflow-x: hidden;
}
.overlay1{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0, 0.5);
    overflow-x: hidden;
}
/*for search bar*/
#search_animate{
    display: none;
}
/*for removing box shadow from input and button*/
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus,.btn:focus,
[contenteditable].form-control:focus {
  box-shadow: unset ;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
/* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
   
/* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(186,186,186);
  }
  
/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146); 
  }
/*top of the page button*/
.scrollUp{
    pointer-events: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    z-index: 1000;
    cursor: pointer;
    opacity: 0;
    background-color: black;
    color:white;
    transition: opacity .3s ease-in;
}
.scrollUp.active{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    z-index: 1000;
    cursor: pointer;
    background-color: black;
    color:white;
    pointer-events: auto;
    opacity: 1;
}
/* search bar in navbar */
#search_bar{
    border: none;
}
#search_bar_button{
    border: none;
    color: black;
}

/* for screens less than 992 */
@media(max-width:992px){
    .navbar{
        z-index: 1;
        -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
        box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
        .navbar-brand{
            color:rgb(223, 54, 90);
            font-family: 'Fira Sans', sans-serif;
        }
    }
    /*css for icons eg: search,wishlist,cart,profile */
    #menu_btn{
        font-size:24px;
    }
    #icon_magnify{
        text-decoration: none;
        color:black;
    }
    .iconss a{
        text-decoration:none ;
        color: black;
    }
    /*css for menu*/
    .menu_general{
        position: fixed;
        max-width: 400px;
        width:100%;
        height:100vh;
        background-color: white;
        color:black;
        top: 0;
        left: 0;
        display:none;
        text-align: left;
        overflow-y: scroll;
    }
    .menu_general ul{
        padding:0px 20px 0px 20px;
    }
    .menu_general a{
        text-decoration: none;
        color: black;
    }
    .menu_general a li{
        list-style: none;
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    .menu_general .first_component_ul{
        list-style: none;
        font-size: 22px;
        letter-spacing: 1px;
    }
    /*arrow icon and hr for menu*/
    .menu_general a span{
        position: absolute;
        right: 0px;
        font-size: 40px;
    }
    .hr_for_theme1{
        background-color: rgb(223, 54, 90);
        height: 2px;
    }
    .hr_for_theme2{
        background-color:  rgb(241, 76, 200);
        height: 2px;
    }
    .hr_for_theme3{
        background-color:  rgb(248, 143, 6);
        height: 2px;
    }
    .hr_for_theme4{
        background-color:  rgb(223, 190, 8);
        height: 2px;
    }
    .hr_for_theme5{
        background-color:  rgb(21, 196, 129);
        height: 2px;
    }
    .menu_general .sub_menu_heading .material-icons {
        position: absolute;
        left: 0px;
        font-size: 40px;
        text-align: left;
    }
    .sub_menu_heading{
        padding-top: 20px;
        font-size: 24px;
        letter-spacing: 1px;
        text-align: center;
    }
    #cancel_btn{
        position: absolute;
        top:19px;
        font-size: 32px;
        right:10px;
        font-weight: 600;
        cursor: pointer;
    }
    /*login greeting section for menu*/
    .greeting{
        background-color:rgb(207, 105, 127);
        height: 70px;
    }
    .menu_general .greeting .greeting_text{
        position: absolute;
        font-size: 24px;
        top: 0px;
        padding-left: 10px;
    }
    .greeting i{
        font-size: 24px;
    }
}

/* for screens of ipad pro,laptops and greater than it*/
@media(min-width:992px){
    .navbar{
        z-index: 1;
        height: 80px;
        -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
        box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
        .navbar-brand{
            color:rgb(223, 54, 90);
            font-family: 'Fira Sans', sans-serif;
        }
        /* profile in navbar */
        .person_icon{
            height:75px;
        }
        .person_icon:hover{
            border-bottom: 2px solid#df365a ;
            height: 75px;
        }
        .dropdown_for_account{
            padding: 15px;
            position: fixed;
            display: none;
            right: 20px;
            background: white;
            top: 80px;
            z-index: 10000;
        }
        .dropdown_for_account .link_btn{
            font-size: 14px;
            color:#df365a ;
            font-weight: 800;
            border: 1px solid #dee2e6;
            letter-spacing: 1px;
            position: relative;
            left: 0px;
            padding: 6px 12px 6px 12px;
        }
        .dropdown_for_account .link_btn:hover{
            font-size: 14px;
            border : 1px solid #df365a; 
        }
        .dropdown_for_account .link_btn .link{
            font-size: 14px;
            font-weight: 800;
            color:#df365a ;
            letter-spacing: 1px;
            text-decoration: none;
        }
        .dropdown_for_account .p1{
            font-size: 14px;
            text-align: left;
            font-weight: 800;
            padding: 5px 0 0 0;
            margin-bottom: 0px;
        }
        .dropdown_for_account .p2{
            font-size: 14px;
            text-align: left;
            padding: 0px 15px 0 0;
        }
        .dropdown_for_account .dropdown-item {
            font-size: 14px;
            padding-left: 0px;
            text-align: left;
            padding-top: 0px;
            margin-top: 0px;
        }
        .dropdown_for_account .dropdown-item:hover {
            font-size: 14px;
            font-weight: 800;
            padding-left: 0px;
            background-color: unset;
            padding-top: 0px;
            margin-top: 0px;
        }
        
        /* search bar in navbar */
        #search_bar{
            border: none;
        }
        #search_bar_button{
            border: none;
            color: black;
        }
        
        .nav-link{
            padding-top: 30px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .3px;
            color: #111113;
            border-bottom: none;
            font-size: 13px;
            font-weight: 600;
            opacity: 0.9;
        }
        .list_container_1{
            height: 80px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .3px;
            color: #111113;
            border-bottom: none;
            font-size: 14px;
            font-weight: 600;
        }
        .list_container_1:hover{
            border-bottom: 3px solid rgb(223, 54, 90);
        }
        .list_container_2{
            height: 80px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .3px;
            color: #111113;
            border-bottom: none;
            font-size: 14px;
            font-weight: 600;
        }
        .list_container_2:hover{
            border-bottom: 3px solid rgb(241, 76, 200);
        }
        .list_container_3{
            height: 80px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .3px;
            color:#111113;
            border-bottom: none;
            font-size: 14px;
            font-weight: 600;
        }
        .list_container_3:hover{
            border-bottom: 3px solid rgb(248, 143, 6);
        }
        .list_container_4{
            height: 80px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .3px;
            color: #111113;
            border-bottom: none;
            font-size: 14px;
            font-weight: 600;
        }
        .list_container_4:hover{
            border-bottom: 3px solid rgb(223, 190, 8);
        }
        .list_container_5{
            height: 80px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .3px;
            color: #111113;
            border-bottom: none;
            font-size: 14px;
            font-weight: 600;
        }
        .list_container_5:hover{
            border-bottom: 3px solid rgb(21, 196, 129);
        }
    }
    .navbar #nav_list{
        height: 80px;
    }
    input::placeholder{
        font-size: 14px;
    }
    #icon_text{
        font-size:12px;
        font-weight:550;
        color: #111113;
        font-weight: 600;
    }
    #img{
        height: 600px;
    }
    #mega-drop_1{
        width: 950px;
        height: 400px;
        z-index: 1000;
        background-color: white;
        border-radius: 0px;
        border: none;
        margin-left: -35px;
        margin-top: 0px;
        opacity: 1;
    }
    #mega-drop_2{
        width: 950px;
        height: 400px;
        z-index: 1000;
        background-color: white;
        border-radius: 0px;
        border: none;
        margin-left: -122px;
        margin-top: 0px;
        opacity: 1;
    }
    #mega-drop_3{
        width: 950px;
        height: 400px;
        z-index: 1000;
        background-color: white;
        border-radius: 0px;
        border: none;
        margin-left: -180px;
        margin-top: 0px;
        opacity: 1;
    }
    #mega-drop_4{
        width: 950px;
        height: 400px;
        z-index: 1000;
        background-color: white;
        border-radius: 0px;
        border: none;
        margin-left: -259px;
        margin-top: 0px;
        opacity: 1;
    }
    #mega-drop_5{
        width: 950px;
        height: 400px;
        z-index: 1000;
        background-color: white;
        border-radius: 0px;
        border: none;
        margin-left: -347px;
        margin-top: 0px;
        opacity: 1;
    }
    .list_container_1 .dropdown-menu .row{
        width: 950px;
        position: relative;
        left: 15px;
        top: -8px;
        height: 400px;
    }
    .list_container_2 .dropdown-menu .row{
        width: 950px;
        position: relative;
        left: 15px;
        top: -8px;
        height: 400px;
    }
    .list_container_3 .dropdown-menu .row{
        width: 950px;
        position: relative;
        left: 15px;
        top: -8px;
        height: 400px;
    }
    .list_container_4 .dropdown-menu .row{
        width: 950px;
        position: relative;
        left: 15px;
        top: -8px;
        height: 400px;
    }
    .list_container_5 .dropdown-menu .row{
        width: 950px;
        position: relative;
        left: 15px;
        top: -8px;
        height: 400px;
    }
    #sub_heading_1{
        color: rgb(223, 54, 90);
        font-weight: 800;
    }
    .list_container_1 .dropdown-menu .row .dropdown-item{
        position: relative;
        left: -25px;
        font-size: 12px;
    }
    .list_container_1 .dropdown-menu .row .dropdown-item:hover{
        position: relative;
        left: -25px;
        font-size: 12px;
        font-weight: 800;
        background-color: unset;
    }
    #sub_heading_2{
        color: rgb(241, 76, 200);
        font-weight: 800;
    }
    .list_container_2 .dropdown-menu .row .dropdown-item{
        position: relative;
        left: -25px;
        font-size: 12px;
    }
    .list_container_2 .dropdown-menu .row .dropdown-item:hover{
        position: relative;
        left: -25px;
        font-size: 12px;
        font-weight: 800;
        background-color: unset;
    }
    #sub_heading_3{
        color: rgb(248, 143, 6);
        font-weight: 800;
    }
    .list_container_3 .dropdown-menu .row .dropdown-item{
        position: relative;
        left: -25px;
        font-size: 12px;
    }
    .list_container_3 .dropdown-menu .row .dropdown-item:hover{
        position: relative;
        left: -25px;
        font-size: 12px;
        font-weight: 800;
        background-color: unset;
    }
    
    #sub_heading_4{
        color: rgb(223, 190, 8);
        font-weight: 800;
    }
    .list_container_4 .dropdown-menu .row .dropdown-item{
        position: relative;
        left: -25px;
        font-size: 12px;
    }
    .list_container_4 .dropdown-menu .row .dropdown-item:hover{
        position: relative;
        left: -25px;
        font-size: 12px;
        font-weight: 800;
        background-color: unset;
    }
    
    #sub_heading_5{
        color: rgb(21, 196, 129);
        font-weight: 800;
    }
    .list_container_5 .dropdown-menu .row .dropdown-item{
        position: relative;
        left: -25px;
        font-size: 12px;
    }
    .list_container_5 .dropdown-menu .row .dropdown-item:hover{
        position: relative;
        left: -25px;
        font-size: 12px;
        font-weight: 800;
        background-color: unset;
    }

    .list_container_1 .dropdown-menu .row a{
        color: black;
    }
    
    .list_container_2 .dropdown-menu .row a{
        color: black;
    }
    
    .list_container_3 .dropdown-menu .row a{
        color: black;
    }
    
    .list_container_4 .dropdown-menu .row a{
        color: black;
    }
    
    .list_container_5 .dropdown-menu .row a{
        color: black;
    }
}
/* for screens greater than 1192px*/
@media(min-width:1192px){
    .navbar{
        z-index: 1;
        height: 80px;
        -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
        box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
        .navbar-brand{
            color:rgb(223, 54, 90);
            font-family: 'Fira Sans', sans-serif;
        }
        #nav-btn{
            font-size: 20px;
        }
        /* profile in navbar */
        .person_icon{
            height:79px;
        }
        .person_icon:hover{
            border-bottom: 2px solid#df365a ;
            height: 79px;
        }
        .dropdown_for_account{
            padding: 15px;
            position: fixed;
            display: none;
            right: 20px;
            background: white;
            top: 80px;
            z-index: 10000;
        }
        .dropdown_for_account .link_btn{
            font-size: 16px;
            color:#df365a ;
            font-weight: 800;
            border: 1px solid #dee2e6;
            letter-spacing: 1px;
            position: relative;
            left: 0px;
            padding: 6px 12px 6px 12px;
        }
        .dropdown_for_account .link_btn:hover{
            font-size: 16px;
            border : 1px solid #df365a; 
        }
        .dropdown_for_account .link_btn .link{
            font-size: 16px;
            font-weight: 800;
            color:#df365a ;
            letter-spacing: 1px;
            text-decoration: none;
        }
        .dropdown_for_account .p1{
            font-size: 16px;
            text-align: left;
            font-weight: 800;
            padding: 5px 0 0 0;
            margin-bottom: 0px;
        }
        .dropdown_for_account .p2{
            font-size: 16px;
            text-align: left;
            padding: 0px 15px 0 0;
        }
        .dropdown_for_account .dropdown-item {
            font-size: 16px;
            padding-left: 0px;
            text-align: left;
            padding-top: 0px;
            margin-top: 0px;
        }
        .dropdown_for_account .dropdown-item:hover {
            font-size: 16px;
            font-weight: 800;
            padding-left: 0px;
            background-color: unset;
            padding-top: 0px;
            margin-top: 0px;
            }
        
        /* search bar in navbar */
        #search_bar{
            border: none;
            font-size: 18px;
        }
        #search_bar_button{
            border: none;
            color: black;
            font-size: 22px;
        }
        .nav-link{
            padding-top: 30px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .3px;
            color: #111113;
            border-bottom: none;
            font-size: 16px;
            font-weight: 600;
            opacity: 0.9;
        }
        .list_container_1{
            height: 80px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .3px;
            color: #111113;
            border-bottom: none;
            font-size: 14px;
            font-weight: 600;
        }
        .list_container_1:hover{
            border-bottom: 3px solid rgb(223, 54, 90);
        }
        .list_container_2{
            height: 80px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .3px;
            color: #111113;
            border-bottom: none;
            font-size: 14px;
            font-weight: 600;
        }
        .list_container_2:hover{
            border-bottom: 3px solid rgb(241, 76, 200);
        }
        .list_container_3{
            height: 80px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .3px;
            color:#111113;
            border-bottom: none;
            font-size: 14px;
            font-weight: 600;
        }
        .list_container_3:hover{
            border-bottom: 3px solid rgb(248, 143, 6);
        }
        .list_container_4{
            height: 80px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .3px;
            color: #111113;
            border-bottom: none;
            font-size: 14px;
            font-weight: 600;
        }
        .list_container_4:hover{
            border-bottom: 3px solid rgb(223, 190, 8);
        }
        .list_container_5{
            height: 80px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .3px;
            color: #111113;
            border-bottom: none;
            font-size: 14px;
            font-weight: 600;
        }
        .list_container_5:hover{
            border-bottom: 3px solid rgb(21, 196, 129);
        }
    }
    .navbar #nav_list{
        height: 80px;
    }
    input::placeholder{
        font-size: 18px;
    }
    #icon_text1{
        font-size:13px;
        font-weight:550;
        color: #111113;
        font-weight: 500;
    }
    #img{
        height: 600px;
    }
    #mega-drop_1{
        width: 1150px;
        height: 500px;
        z-index: 1;
        background-color: white;
        border-radius: 0px;
        border: none;
        margin-left: -35px;
        margin-top: 0px;
        opacity: 1;
    }
    #mega-drop_2{
        width: 1150px;
        height: 500px;
        z-index: 1;
        background-color: white;
        border-radius: 0px;
        border: none;
        margin-left: -137px;
        margin-top: 0px;
        opacity: 1;
    }
    #mega-drop_3{
        width: 1150px;
        height: 500px;
        z-index: 1;
        background-color: white;
        border-radius: 0px;
        border: none;
        margin-left: -205px;
        margin-top: 0px;
        opacity: 1;
    }
    #mega-drop_4{
        width: 1150px;
        height: 500px;
        z-index: 1;
        background-color: white;
        border-radius: 0px;
        border: none;
        margin-left: -299px;
        margin-top: 0px;
        opacity: 1;
    }
    #mega-drop_5{
        width: 1150px;
        height: 500px;
        z-index: 1;
        background-color: white;
        border-radius: 0px;
        border: none;
        margin-left: -402px;
        margin-top: 0px;
        opacity: 1;
    }
    .list_container_1 .dropdown-menu .row{
        width: 1150px;
        position: relative;
        left: 15px;
        top: -8px;
        height: 500px;
    }
    .list_container_2 .dropdown-menu .row{
        width: 1150px;
        position: relative;
        left: 15px;
        top: -8px;
        height: 500px;
    }
    .list_container_3 .dropdown-menu .row{
        width: 1150px;
        position: relative;
        left: 15px;
        top: -8px;
        height: 500px;
    }
    .list_container_4 .dropdown-menu .row{
        width: 1150px;
        position: relative;
        left: 15px;
        top: -8px;
        height: 500px;
    }
    .list_container_5 .dropdown-menu .row{
        width: 1150px;
        position: relative;
        left: 15px;
        top: -8px;
        height: 500px;
    }
    #sub_heading_1{
        color: rgb(223, 54, 90);
        font-weight: 800;
    }
    .list_container_1 .dropdown-menu .row .dropdown-item{
        position: relative;
        left: -25px;
        font-size: 16px;
    }
    .list_container_1 .dropdown-menu .row .dropdown-item:hover{
        position: relative;
        left: -25px;
        font-size: 16px;
        font-weight: 800;
        background-color: unset;
    }
    #sub_heading_2{
        color: rgb(241, 76, 200);
        font-weight: 800;
    }
    .list_container_2 .dropdown-menu .row .dropdown-item{
        position: relative;
        left: -25px;
        font-size: 16px;
    }
    .list_container_2 .dropdown-menu .row .dropdown-item:hover{
        position: relative;
        left: -25px;
        font-size: 16px;
        font-weight: 800;
        background-color: unset;
    }
    #sub_heading_3{
        color: rgb(248, 143, 6);
        font-weight: 800;
    }
    .list_container_3 .dropdown-menu .row .dropdown-item{
        position: relative;
        left: -25px;
        font-size: 16px;
    }
    .list_container_3 .dropdown-menu .row .dropdown-item:hover{
        position: relative;
        left: -25px;
        font-size: 16px;
        font-weight: 800;
        background-color: unset;
    }
    
    #sub_heading_4{
        color: rgb(223, 190, 8);
        font-weight: 800;
    }
    .list_container_4 .dropdown-menu .row .dropdown-item{
        position: relative;
        left: -25px;
        font-size: 16px;
    }
    .list_container_4 .dropdown-menu .row .dropdown-item:hover{
        position: relative;
        left: -25px;
        font-size: 16px;
        font-weight: 800;
        background-color: unset;
    }
    
    #sub_heading_5{
        color: rgb(21, 196, 129);
        font-weight: 800;
    }
    .list_container_5 .dropdown-menu .row .dropdown-item{
        position: relative;
        left: -25px;
        font-size: 16px;
    }
    .list_container_5 .dropdown-menu .row .dropdown-item:hover{
        position: relative;
        left: -25px;
        font-size: 16px;
        font-weight: 800;
        background-color: unset;
    }

    .list_container_1 .dropdown-menu .row a{
        color: black;
    }
    
    .list_container_2 .dropdown-menu .row a{
        color: black;
    }
    
    .list_container_3 .dropdown-menu .row a{
        color: black;
    }
    
    .list_container_4 .dropdown-menu .row a{
        color: black;
    }
    
    .list_container_5 .dropdown-menu .row a{
        color: black;
    }
}
/*img at starting of about page*/

#img-text{
    letter-spacing: .5px;
    margin: 20px 0 -10px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    font-weight: 500;
    font-family: cursive;

}
@media(min-width:768px){
    #img-text{
        font-size: 1.6058824rem;
    }
}
@media(max-width:576px){
    #img-text{
        font-size: 1.0411765rem;
    }
}
/*card section*/
@media(max-width:768px){
    #card_1{
        margin-top: 16vh;
    }
    #card_2{
        margin-top: 10vh;
    }
    #card_3{
        margin-top: 10vh;
    }
}
/*Our team section*/
#img_1_dev{
    margin-top: -90px;
}
#img_2_dev{
    margin-top: -90px;
}
.our_team_h5{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
}
.our_team_h6{
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
}
.our_team_p{
    font-family: cursive;
    line-height: 20px;
}
#our_team_icon{
    text-decoration: none;
    font-size: 28px;
    letter-spacing: 12px;
    transition: all 0.3s ease-in;
    color:black;
}
#our_team_card_1{
    border-radius: 0;
    box-shadow: 5px 5px 15px rgb(223, 54, 90);
    transition: all 0.3s ease-in;
    color:black;
}
#our_team_card_2{
    border-radius: 0;
    box-shadow: 5px 5px 15px rgb(223, 54, 90);
    transition: all 0.3s ease-in;
    color:black;
}
#our_team_card_1:hover  #our_team_icon{
    color:white;
}
#our_team_card_1:hover{
    border-radius: 0;
    background-color: rgb(223, 54, 90);
    color:white;
    box-shadow: 5px 5px 15px rgb(146, 143, 144);
}
#our_team_card_2:hover  #our_team_icon{
    color:white;
}
#our_team_card_2:hover{
    border-radius: 0;
    background-color: rgb(223, 54, 90);
    color:white;
    box-shadow: 5px 5px 15px rgb(146, 143, 144);
}
/*Our value section*/
@media(min-width:768px){
    #text_heading_1{
        text-align: center;
        font-size: 1.4em;
        font-weight: 650;
        letter-spacing: .15em;
        color: #17171a;
        margin: 50px 0 10px 2px;
    }
}
@media(max-width:576px){
    #text_heading_1{
        text-align: center;
        font-size: 1.2em;
        font-weight: 650;
        letter-spacing: .15em;
        color: #3e4152;
        margin: 30px 0 10px 2px;
    }
}
@media(min-width:576px) and (max-width:768px){
    #text_heading_1{
        text-align: center;
        font-size: 1.3em;
        font-weight: 650;
        letter-spacing: .15em;
        color: #3e4152;
        margin: 30px 0 10px 2px;
    }
}
.card{
    border: none;
}

/*footer*/
#head_of_footer_column{
    font-size: 13px;
    color:  black;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500px;
}
.list-unstyled li{
    font-size: 13px;
    color: rgb(161, 159, 159);
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: lighter;
}

.list-unstyled li a{
    font-size: 13px;
    color: rgb(161, 159, 159);
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: lighter;
}

#footer_end a{
    font-size: 13px;
    color: rgb(161, 159, 159);
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: lighter;
}

/*footer icon of social  media */

.icon1{
    display:inline-block;
    position: relative;
    height: 38px;
    width: 38px;
    border-radius: 7px;
    padding-top: 3px;
    text-align: center;
    margin-right: 5px;
    font-size: 22px;
    list-style: none;
    background-color: #00aced;
    color: #fff;
    transition: transform 1s;
}
.icon1:hover{
    color: white;
}
.icon2{
    display:inline-block;
    position: relative;
    height: 38px;
    width: 38px;
    border-radius: 7px;
    margin-right: 5px;
    padding-top: 3px;
    background-color: #3b5998;
    text-align: center;
    font-size: 22px;
    color: #fff;
    transition: transform 1s;
}
.icon2:hover{
    color: white;
}
.icon3{
    display:inline-block;
    position: relative;
    height: 38px;
    width: 38px;
    margin-right: 5px;
    border-radius: 7px;
    padding-top: 3px;
    background-color: #b00;
    text-align: center;
    font-size: 22px;
    color: #fff;
    transition: transform 1s;
}
.icon3:hover{
    color: white;
}
.icon4{
    display:inline-block;
    position: relative;
    height: 38px;
    width: 38px;
    border-radius: 7px;  
    margin-right: 5px;
    margin-top: 3px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    font-size: 26px;
    text-align: center;
    color: #fff;
    transition: transform 1s;
}
.icon4:hover{
    color: white;
}
.icon5{
    display:inline-block;
    position: relative;
    height: 38px;
    width: 38px;
    border-radius: 7px;
    padding-top: 3px;
    background-color: #b00;
    text-align: center;
    font-size: 22px;
    color: #fff;
    transition: transform 1s;
}
.icon5:hover{
    color: white;
}

/*footer icon of payment methods */

.icon_1{    
    display:inline-block;
    position: relative;
    text-align: center;
    margin-right: 10px;
    color:  rgb(33, 4, 99);
    transition: transform 1s;
}
.icon_1:hover{
    color:  rgb(33, 4, 99);
}
.icon_2{    
    display:inline-block;
    position: relative;
    text-align: center;
    margin-right: 10px;
    color:  black;
    transition: transform 1s;
}
.icon_2:hover{
    color:  black;
}
.icon_3{    
    display:inline-block;
    position: relative;
    text-align: center;
    margin-right: 10px;
    transition: transform 1s;
}
.icon_3:hover{
    color:  #007bff;
}
.icon_4{    
    display:inline-block;
    position: relative;
    text-align: center;
    margin-right:10px;
    color:  rgb(44, 43, 44);
    transition: transform 1s;
}
.icon_4:hover{
    color:  rgb(44,43,44);
}
.icon_5{    
    display:inline-block;
    position: relative;
    text-align: center;
    margin-right: 10px;
    color:  #3b7bbf;
    transition: transform 1s;
}
.icon_5:hover{
    color:  #3b7bbf;
    
}
.icon_6{    
    display:inline-block;
    position: relative;
    text-align: center;
    margin-right: 5px;
    color:  #F79C34;
    transition: transform 1s;
}
.icon_6:hover{
    color:  #F79C34;
}
/*footer icon of appstore and playstore */
.icon_appstore{
    position: relative;
    top: -45px;
    width: 140px;
    height: 140px;
}
.icon_playstore{
    position: relative;
    top: -45px;
    width: 140px;
    height: 50px;
}

/* for footer*/
.list-unstyled .navbar-brand{
    color:rgb(223, 54, 90);
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none ;
    list-style: none;
}
/* footer for devices less than 768*/
#footer_small a{
    text-decoration: none;
    color: black;
}
#add_sign_1,#add_sign_2,#add_sign_3,#add_sign_4,#add_sign_5,#add_sign_6{
    float: right;
    cursor: pointer;
}